.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  clear: all;
  height: 100px;
  padding: 20px;
  color: black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.navbar {
  background: #008c90;

  
}
#navbar-brand{
  color: black;
  font-family: 'Playfair Display', serif;
  /* font-weight: normal; */
  font-size: 25px;
}
#navBarLinks{
  color: black;
  font-family: 'Playfair Display', serif;
  /* font-weight: normal; */
  /* font-size: 25px; */
}

img {
  height: 40px;
}
.nav-link{
  color: black;
}


