body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  background-image: url("https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  opacity: .9;
  background-size: cover;
 
}

.navbar {

 
}
#navBarStyle{
  background: rgb(52,52,52);
  width: 100%;
 
   color:white;
}
.nameHeader {
  float: left;
  color: lightgrey;
  padding-top: 10px;
  padding-left: 20%;
}

.rbc-calendar {
  height: 600px !important;

}
.navbar-nav{
  color: white;
}
#statsTitle{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}
#weightProgress{
  
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 20px;
}
#calConBunred{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 20px;
}
#statsMain{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  
}
#myworkoutsch{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 30px;
}
.welcome{
  float: left;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 30px;
}
/* ---------------------------------------------------------this is the new css---------------------------------------- */

footer {
  background:rgb(52,52,52);
  display: flex;
  justify-content: space-between;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
 
  color: white;
  clear: both;
}

