body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  background-image: url("https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  opacity: .9;
  background-size: cover;
 
}

#navBarStyle{
  background: rgb(52,52,52);
  width: 100%;
   color:white;
}
.nameHeader {
  float: left;
  color: lightgrey;
  padding-top: 10px;
  padding-left: 20%;
}

.rbc-calendar {
  height: 600px !important;

}
.navbar-nav{
  color: white;
}
#statsTitle{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}
#weightProgress{
  
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 20px;
}
#calConBunred{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 20px;
}
#statsMain{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  
}
#myworkoutsch{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 30px;
}
.welcome{
  float: left;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 30px;
}
/* ---------------------------------------------------------this is the new css---------------------------------------- */

footer {
  background:rgb(52,52,52);
  display: flex;
  justify-content: space-between;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
 
  color: white;
  clear: both;
}

footer p {
  opacity: .75
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
