body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  background: white;
}

.navbar {
  background: #008c90;
  /* width: 100%; */
  /* position: fixed; */
   /* z-index: 1; */
   /* color:#008c90; */
  /* padding-top: -10px; */
}

.nameHeader {
  float: left;
  color: lightgrey;
  padding-top: 10px
}

.rbc-calendar {
  height: 600px !important;

}

footer {
  background: #008c90;
  display: flex;
  justify-content: space-between;
  padding: 25px 50px 5px 50px;
  color: white
}

footer p {
  opacity: .75
}
