.profile {
    width: 50px;
    text-align: right;
    border-radius: 10px;
}

p {
    font-weight: bold;
}

input.name {
    width: 300px;
    text-align: left;
}

button {
    margin-left: 400px;
}

.signupL {
    display: flex;
    justify-content: center
}

h1 {
    text-align: center
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex: wrap;
  }

.calContainer {
    width: 100%;
    justify-content: space-between
}
  
.calendarClick {
    margin-top:10px;
    background:white;
    border-radius: 10px;
    width: 44%;
    height: 300px;
}
  
.calendar {
    margin:10px 0px;
    background:white;
    border-radius: 10px;
    /* width: 55%; */
    height: 600px;

}

.stats {
    background: white;
    border-radius: 10px;
    width: 100%;    
    margin: 10px auto;
    padding: 20px;
}

.graph {
    background: #CCCCCC;
    /* height: 300px; */
    border-radius: 10px;
    width: 48%;
}

i {
    float: right;
    margin-right: 5px;
    color: grey
}

.container {
    width: 80%;
    margin-left: 5%
}

.messaging {
    background: white;
    border-radius: 10px;
    width: 100%;    
    margin: 10px auto;
    padding: 20px;
    text-align: left;
}

.scroll {
    max-height: 700px;
    overflow-y:auto;
}

form {
    padding: 20px;
}

.message {
    width: 600px;
    /* height: 100px; */
}

.sendButton {
    float: right;
    margin-right: 40px;
    border-radius: 10px;
    background: #008c90;
    color: white;
    padding: 5px;
}

.saveButton {
    margin-right: 40px;
    border-radius: 10px;
    background: #008c90;
    color: white;
    padding: 5px;
}

.read {
    background: lightgrey;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
}

.unread {
    background: #008c90;
    border-radius: 10px;
    color: white;
    padding: 15px;
    margin: 5px;
}

.from {
    margin-left: 70%;
}

.graphTitle {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.none {
    text-align: center;
}


.cal {
    width: 50px
}

.flexIt {
    display: flex;
    justify-content: flex-start
}
.containerRes{
 background: white;
 display: flex;
 justify-content: space-between;
 padding: 10px;
 width: 80%;
 margin-left: 10%;
 border-radius: 10px;
}